.card-img {
  margin: 0;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  margin: 2%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  color: rgb(224, 9, 170);
}

.card * {
  margin: 0;
}
.card h1 {
  font-size: medium;
}

a {
  text-decoration: none;
  margin: 0.5%;
}
a:link,
a:visited {
  color: rgb(169, 211, 233);
}

a:hover {
  color: rgb(229, 103, 103);
}
